/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	background-color: white;
}

body{
	font-size: 20px;
	width: 1000px;
	margin: 15px  auto;
	background-color: rgba(255, 146, 50, 0.15);
}
.wrapper{
	border-top: 15px #ff8c53 groove;
	width: 100%;

}

.menu{
	float: left;
	margin-top: 10px;
	width: 80%;
}

div.sidebar{
	width: 100%;
}
.menu ul{
	list-style:none;
}


.menu ul li a{
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #ff8c53;
	font-size: 0.7em;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
}

.profile{

	width: 20%;
	float: right;
}

.bid_management ul li{
	list-style: none;
	display: inline-block;
}

.clear{
	zoom: 1;
	clear: both;
}

.profile ul{
	list-style: none;
}

.profile ul a.out{
	float: right;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #ff8c53;
	font-size: 0.7em;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
}

div.content{
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 10px 10px 20px;
}

.no-page{
	height: 700px;
	background-position: center;
	margin: 0 auto;
	background-image: url("http://localhost/helpdesk/public/img/no_page.jpg");
	background-repeat: no-repeat;
}
div.authorization{
	text-align: center;
	background-color: white;

}

div.authorization h3{
	margin: 0 auto;
	margin-bottom: 40px;
	color: red;
	border: 2px red solid;
	padding: 10px;
	width: 70%;
	font-size: 1.3em;
	/*display: none;*/
}

.subform{
	margin: 0 auto;
	font-size: 1.2em;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
}
.subform label{
	display: inline-block;
	width: 100px;
	vertical-align: top;
	text-align: right;
	margin-right: 30px;
	font-weight: bold;
	color: black;
	padding-bottom: 20px;
}
.authorization h1{
	margin: 0 auto 40px;
	width: 400px;
	border-bottom: 1px black dashed;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 1.6em;
}

.subform input[type='text']{
	height: 30px;
	padding: 5px;
}

.subform input[type='email']{
	height: 30px;
	padding: 5px;
}

.subform input[type='password']{
	height: 30px;
	padding: 5px;
}


.subform input[type='submit']{
	outline: none;
	cursor: pointer;
	width: 100px;
	margin-left: 200px;
	margin-bottom: 100px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: #ff8c53;
	font-size: 0.9em;
	text-transform: uppercase;
	border: 1px #ff8c53 hidden;
}


.bid_management{
	margin-top: 20px;
	margin-bottom: 40px;
}

.bid_management a{
	text-decoration: none;
	outline: none;
	cursor: pointer;
	width: 50px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: #ff8c53;
	font-size: 0.6em;
	text-transform: uppercase;
	border: 1px #ff8c53 hidden;
}


/* bid */

.form{
	width: 100%;
}

.required{
	margin-left: 3px;
	color: red;
}
.new_bid{
	margin-bottom: 100px;
	float: left;
	width: 80%;
	background-color: white;
	padding: 10px;
	border: 1px #ff8c53 solid;
}

.new_bid header{
	margin-bottom: 10px;
}

.bid p{
	margin-top: 10px;
}
#name{
	margin-top: 10px;
	display: block;
	width: 100%;
	padding: 5px;
}

#description{
	display: block;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
}
.bid{
	padding: 10px;
	margin-top: 10px;
	border: 3px  double;
}

.req label, .req select , .req h1, .req  input[type='text']::-webkit-input-placeholder{
	color:red;
}



.req label, .req select, .req h1, .req input[type='text']::-moz-placeholder{
	color:red;
}

.req label, .req select, .req h1, .req label input[type='text']:-moz-placeholder{
	color:red;
}
.req label, .req select,.req h1, .req input[type='text']:-ms-input-placeholder{
	color:red;
}


.comments input[type='text']::-webkit-input-placeholder{
	text-align: center;
}

.comments input[type='text']::-moz-placeholder{
	text-align: center;
}

.comments input[type='text']:-moz-placeholder{
	text-align: center;
}
.comments input[type='text']:-ms-input-placeholder{
	text-align: center;
}


.statuss p{
	margin-top: 20px;
	display: inline-block;
	margin-right: 10px;
}

.statuss p select{
	height: 25px;
	width: 150px;
}
.statuss p label{
	margin-bottom: 5px;
	display: block;
}

.file{
	border-top: 2px groove;
	border-bottom: 2px groove;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 70px;
}
.file label{
	text-align: right;
	display: block;
	width: 100px;
	float: left;
}


.file .right_file{
	margin-left: 30px;
	display: block;
	float: left;
}
.comments{
	margin-top: 20px;
	margin-bottom: 20px;
}

.comments label{
	width: 100%;
	display: block;
}
.comments input{
	margin-top: 10px;
	width: 100%;
	height: 60px;
	display: block;
}

.saveBid input[type='submit']{
	cursor: pointer;
	width: 150px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: #ff8c53;
	font-size: 0.9em;
	text-transform: uppercase;
	border: 1px #ff8c53 hidden;
}

.applicant{
	float: right;
	overflow: auto;
	width: 20%;

}

.applicant header{
	margin-top: 15px;
	margin-left: 10px;
}
.applicant header h1{
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 2px groove;
}

.applicant header input{
	width: 100%;
	padding: 5px;
	height: 30px;
	margin-top: 10px;

}








